.content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: fit-content;
}

.content {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.content-header {
    display: flex;
    width: -webkit-fill-available;
    padding: 16px 0 12px 24px;
    font-family: "Roboto Flex", serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #323130;
}
