.headerContainer {
    width: -webkit-fill-available;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 100;
    box-shadow:
            0 0.3px 0.9px rgba(0, 0, 0, 0.1),
            0 1.6px 3.6px rgba(0, 0, 0, 0.13);
    flex-shrink: 0;
}

.arisContainer {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.waffleContainer {
    width: fit-content;
    display: flex;
    padding: 0 12px;
}

.waffleIcon {
    width: 48px;
    height: 48px;
}

.arisName {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding: 0 8px 0 11px;
    font-family: "Roboto Flex", serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #323130;
}

.aris {
    font-family: "Roboto Flex", serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;
    color: #011F3D;
}