.launches-container {
    padding: 0 16px;
}

.custom-cell {
    font-family: var(--standart-font-family);
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: var(--primary-text-color);
}

.custom-header-cell {
    font-family: var(--standart-font-family);
    font-size: 14px;
    font-weight: var(--semibold-font-weight);
    line-height: 20px;
    color: var(--primary-text-color);
}