.profilesContainer {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    margin: 10px 0;
    max-height: 272px;
    overflow-y: auto;
}

.profilesTable {
    width: fit-content;
    background-color: #F8F8F8;
    padding: 5px 10px;
    border-collapse: collapse;
}

.profilesTable th, .profilesTable td {
    font-family: var(--standart-font-family);
    color: var(--primary-text-color);
    font-size: var(--normal-font-size);
    line-height: 20px;

    text-align: left;
    vertical-align: middle;
    height: fit-content;
}

.profilesTable th {
    font-weight: var(--semibold-font-weight);
    padding: 11px 8px;
}

.profilesTable td {
    font-weight: normal;
    border-top: 1px solid var(--primary-text-color);
}

.profilesTableCell {
    padding: 11px 8px;
}

.profilesContainer::-webkit-scrollbar {
    width: 6px;
}

.profilesContainer::-webkit-scrollbar-thumb {
    background-color: #8A8886;
    border-radius: 5px;
}